body{
    margin: 0;
    background-color: #EFECEB;
}
ul,li{
	list-style:none;
	padding:0;
    border: 1px solid #dadada;
}
.head-main{
    width:100%;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dadada;
}
.panel-default{
   height:100px;
   border-bottom: 1px solid #dadada;
}
.head-left{
    margin-left:20px;
    display:inline-block;
    float:left;
    height:100;
    width:calc(100% - 150px);

}
.current-info{
    display:inline-block;
    position: relative;
    vertical-align: middle;
    margin-top:30px;
}
.current-user-name{
    color: #f89728;
    word-break: break-word
}
.icon-event-owner{
    display: inline-block;
    position: relative;
    top: 3px;
    background: url(/img/event-owner.png);
    background-size: 100% 100%;
    height: 18px;
    width: 18px;
    color: #f89728;
}
.attendee-count-label{
    font-size: 12px;
    margin-top: 5px;
    color: #999;
}

.btn-group{
    line-height:100px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
}
.btn-group button {
    width:110px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background:#ffffff;
}
/*.view-data{
    margin:15px 20px;
    height:100px;
}*/
.view-item{
    height:80px;
    margin:15px 20px;
}
.item-title, .item-data{
    height:30px;
}
.title{
    width:60px;
    color: #dea96d;
    font-weight: 400;
    font-size: 12px;
    margin: 9px 0px;
    text-align:left;
    display:inline-block;
}
.item-name, .item-rate{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    margin-left: 10px;
    line-height: 17px;
    color: #595959;
    font-size: 15px;
}
.input{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 180px);
    line-height:28px;
    margin-left:10px;
    color: #595959;
    border-radius: 5px;
    border:none;
    background-color: #E5E5E5
    font-size: 14px;
}
.item-action{
    margin-top:5px;
}
.item-action{
    float:right;
}
.item-action .action{
    margin-left:2px;
    padding:3px 10px;
    font-size:10px;
    color: #666;
    border-radius: 5px;
    border: 1px solid #dadada;
    color:#595959;
}

/*以下为搜索页面样式*/
.add-account-dialog{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #efeceb;
    height: 100%;
    min-height: -webkit-fill-available;
}
.page-header{
    background-color: #f89728;
    color: #fff;
    font-weight: 400;
    height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
}
.page-title{
    height: 40px;
    line-height:40px;
    text-align:center;
    font-size:17px;
    position:relative;
}
.search-contain{
    text-align: center;
    font-size: 14px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: #EFECEB;
}
.lookup-search-input{
    padding-left: 6px;
    color: #595959;
    width: 100%;
    height: 35px;
    font-size: 14px;
    text-indent: 5px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 5px;
    width:calc(100% - 80px);
    display:block;

}
.no-label-row {
    position: relative;
    height: 35px;
    padding: 7px 15px;
}
.lookup-search-btn{
    position: absolute;
    right: 15px;
    width: 60px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #f89728;
    font-size: 15px;
    color: #fff;
    text-align: center
}
.orion-layout-bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.page-footer {
    text-align: right;
    position: static;
    width: 100%;
    height: 60px;
    overflow-y: hidden;
    background-color: #f5f5f5
}
.bottom-btn-bar {
    display: flex;
    border-top: 1px solid #dadada;
    text-align: center;
    background-color: #f5f5f5;
}
.btn-wrap{
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}
.iconfont{
    width: 32px;
    line-height: 32px;
    height: 32px;
    font-size: 18px;
    color: #333;
    display: flex;
    -webkit-box-pack: center;
}
.icon-text{
    font-size: 10px;
    max-width: 72px;
    display: flex;
    -webkit-box-pack: center;
}
.search-data{
    bottom:60px;
    margin-top:110px;
    position: relative;
    -webkit-box-flex:1;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100px;
}

.search-item{
    height:50px;
    line-height:50px;
    background-color: #ffffff;
}
.search-item input{
    height:50px;
    float:right;
    width: 15px;
    height: 15px;
}
.search-item-title{
    height:50px;
    display:contents;
}
.search-item-name{
    display:inline-block;
    vertical-align: middle;
    width: calc(100% - 105px);
    padding-left: 10px;
    line-height: 50px;
    color: #595959;
    font-size: 15px;
}
.checkbox{
    display:inline-block;
    margin:17px 20px;
    vertical-align: middle;
    line-height: 50px;
}
.orion-scroll-loading{
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #b5b5b5;
    background-color: #EFECEB;
    vertical-align: middle;
    text-align: center;
}
.loading-html-message{
    position: relative;
    height: 100%;
}
.load-line {
    height: 25px;
    border: 1px solid #dadada;
    left: 15px;
    right: 15px;
}
.load-no-data-message {
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
    width: 130px;
    display: inline-block;
    background-color: #EFECEB;
    left: 0;
    right: 0;
}
.error-data{
    display:block;
    color:red;
    font-size:12px;
    vertical-align: middle;
    width: calc(100% - 105px);
    margin-left: 75px;
    line-height: 17px;
}